/* UTS_Nur Aini Setya Putri */

position: relative;
width: 2278px;
height: 1024px;

background: #FFFFFF;


/* Purchase Panel */

box-sizing: border-box;

position: absolute;
width: 396px;
height: 266px;
left: 1646px;
top: 320px;

border: 4px solid #E0E3E8;
border-radius: 15px;


/* Product Purchase Panel */

position: absolute;
width: 329px;
height: 33px;
left: 21px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 27px;
line-height: 33px;
/* identical to box height */

color: #000000;



/* Order Management Panel */

position: absolute;
width: 138px;
height: 29px;
left: 212px;
top: 104px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Subtotal */

position: absolute;
width: 138px;
height: 29px;
left: 21px;
top: 173px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Quantity Selector */

position: absolute;
width: 177px;
height: 41px;
left: 18px;
top: 99px;



/* 0 */

position: absolute;
width: 21px;
height: 29px;
left: 96px;
top: 105px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* + */

position: absolute;
width: 21px;
height: 29px;
left: 153px;
top: 104px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* - */

position: absolute;
width: 21px;
height: 29px;
left: 39px;
top: 105px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 177px;
height: 41px;
left: 18px;
top: 99px;

border: 3px solid #E0E3E8;
border-radius: 15px;


/* Additional Interactions */

position: absolute;
width: 356px;
height: 27px;
left: 21px;
top: 223px;



/* Chat */

position: absolute;
width: 61px;
height: 24px;
left: 46px;
top: 225px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Wishlist */

position: absolute;
width: 107px;
height: 24px;
left: 159px;
top: 225px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Share */

position: absolute;
width: 71px;
height: 24px;
left: 306px;
top: 225px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #000000;



/* Line 5 */

position: absolute;
width: 27px;
height: 0px;
left: 127px;
top: 223px;

border: 3px solid #E0E3E8;
transform: rotate(90deg);


/* Line 6 */

position: absolute;
width: 27px;
height: 0px;
left: 274px;
top: 223px;

border: 3px solid #E0E3E8;
transform: rotate(90deg);


/* heart */

position: absolute;
width: 25px;
height: 25px;
left: 139px;
top: 224px;

background: url(heart.png);


/* share */

position: absolute;
width: 25px;
height: 25px;
left: 285px;
top: 224px;

background: url(share.png);


/* chat */

position: absolute;
width: 25px;
height: 25px;
left: 21px;
top: 225px;

background: url(chat.png);


/* Product Detail Section */

position: absolute;
width: 1390px;
height: 761px;
left: 213px;
top: 242px;



/* Product Information */

position: absolute;
width: 811px;
height: 178px;
left: 579px;
top: 78px;



/* Prooduct */

position: absolute;
width: 811px;
height: 78px;
left: 579px;
top: 78px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;

color: #000000;



/* Price */

position: absolute;
width: 358px;
height: 58px;
left: 579px;
top: 198px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #000000;



/* Sold Info */

position: absolute;
width: 102px;
height: 29px;
left: 579px;
top: 156px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Rating */

position: absolute;
width: 239px;
height: 39px;
left: 698px;
top: 148px;



/* star */

position: absolute;
width: 23px;
height: 23px;
left: 725px;
top: 159px;

background: url(star.png);


/* 4.5 (2 Rating) */

position: absolute;
width: 168px;
height: 29px;
left: 769px;
top: 156px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* . */

position: absolute;
width: 7px;
height: 39px;
left: 698px;
top: 148px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #7F8592;



/* Breadcrumb Navigation */

position: absolute;
width: 960px;
height: 24px;
left: 0px;
top: 0px;



/* Home > Komputer & Laptop > Laptop > Macbook > [SPECIAL BUNDLING] Apple Macbook Pro M22... */

position: absolute;
width: 960px;
height: 24px;
left: 0px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #00AA5B;



/* Product Image */

position: absolute;
width: 547px;
height: 676px;
left: 0px;
top: 45px;



/* 1 */

position: absolute;
width: 547px;
height: 547px;
left: 0px;
top: 45px;

background: url(1.jpg);


/* 2 */

position: absolute;
width: 102px;
height: 102px;
left: 111px;
top: 617px;

background: url(2.jpg);


/* 3 */

position: absolute;
width: 101px;
height: 102px;
left: 223px;
top: 617px;

background: url(3.jpg);


/* 4 */

position: absolute;
width: 102px;
height: 102px;
left: 334px;
top: 617px;

background: url(4.jpg);


/* 5 */

position: absolute;
width: 101px;
height: 101px;
left: 446px;
top: 620px;

background: url(5.jpg);


/* 2 */

position: absolute;
width: 102px;
height: 102px;
left: 0px;
top: 615px;

background: url(1.jpg);
border: 3px solid #03AC0E;
border-radius: 10px;


/* Variations */

position: absolute;
width: 682px;
height: 291px;
left: 557px;
top: 312px;



/* Color */

position: absolute;
width: 358px;
height: 29px;
left: 579px;
top: 312px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* Siiver */

position: absolute;
width: 146px;
height: 60px;
left: 719px;
top: 360px;



/* Rectangle 4 */

position: absolute;
width: 95px;
height: 60px;
left: 744px;
top: 360px;

background: #EAEAEA;
border-radius: 10px;


/* Silver */

position: absolute;
width: 146px;
height: 27px;
left: 719px;
top: 376px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* Space Gray */

position: absolute;
width: 146px;
height: 60px;
left: 579px;
top: 363px;



/* Rectangle 5 */

position: absolute;
width: 146px;
height: 60px;
left: 579px;
top: 363px;

background: #EAEAEA;
border-radius: 10px;


/* Space Gray */

position: absolute;
width: 146px;
height: 27px;
left: 579px;
top: 378px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* Capacity */

position: absolute;
width: 535px;
height: 29px;
left: 579px;
top: 447px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #000000;



/* 256GB */

position: absolute;
width: 146px;
height: 60px;
left: 557px;
top: 498px;



/* Rectangle 7 */

position: absolute;
width: 102px;
height: 60px;
left: 579px;
top: 498px;

background: #EAEAEA;
border-radius: 10px;


/* 256GB */

position: absolute;
width: 146px;
height: 27px;
left: 557px;
top: 514px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* 512GB */

position: absolute;
width: 146px;
height: 60px;
left: 681px;
top: 498px;



/* Rectangle 8 */

position: absolute;
width: 102px;
height: 60px;
left: 703px;
top: 498px;

background: #EAEAEA;
border-radius: 10px;


/* 512GB */

position: absolute;
width: 146px;
height: 27px;
left: 681px;
top: 514px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* Line 3 */

position: absolute;
width: 660px;
height: 0px;
left: 579px;
top: 603px;

border: 3px solid #F6F6F6;


/* Product Detail */

position: absolute;
width: 352px;
height: 136px;
left: 557px;
top: 625px;



/* Detail */

position: absolute;
width: 146px;
height: 27px;
left: 557px;
top: 625px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #00AA5B;



/* Info Penting */

position: absolute;
width: 146px;
height: 27px;
left: 719px;
top: 625px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #7F8592;



/* Product Detail */

position: absolute;
width: 332px;
height: 81px;
left: 577px;
top: 680px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;

color: #7F8592;



/* Line 4 */

position: absolute;
width: 89.09px;
height: 0px;
left: 585px;
top: 660px;

border: 4px solid #00AA5B;


/* Header */

position: absolute;
width: 2278px;
height: 207px;
left: 0px;
top: 0px;



/* Line */

position: absolute;
width: 2278.03px;
height: 0px;
left: 0px;
top: 207px;

border: 6px solid #F6F6F7;


/* Top Bar Navigation */

position: absolute;
width: 2300px;
height: 51px;
left: -22px;
top: 0px;

background: #F2F4F7;


/* phone */

position: absolute;
width: 22.01px;
height: 30px;
left: 48px;
top: 11px;

background: url(phone.png);


/* Gratis Ongkir+Banyak Promo belanja di aplikasi > */

position: absolute;
width: 475px;
height: 24px;
left: 93px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Additional Links */

position: absolute;
width: 884px;
height: 24px;
left: 1366px;
top: 14px;



/* Tentang Tokopedia */

position: absolute;
width: 185px;
height: 24px;
left: 1366px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Mitra Tokopedia */

position: absolute;
width: 156px;
height: 24px;
left: 1596px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Mulai Berjualan */

position: absolute;
width: 148px;
height: 24px;
left: 1797px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Promo */

position: absolute;
width: 63px;
height: 24px;
left: 1990px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Tokopeida Care */

position: absolute;
width: 152px;
height: 24px;
left: 2098px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Suggested Keywords */

position: absolute;
width: 813px;
height: 24px;
left: 530px;
top: 164px;



/* Samsung Note 10 */

position: absolute;
width: 170px;
height: 24px;
left: 530px;
top: 164px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Charger Mobil */

position: absolute;
width: 137px;
height: 24px;
left: 711px;
top: 164px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Samsung A73 */

position: absolute;
width: 135px;
height: 24px;
left: 859px;
top: 164px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Pull Up Bar */

position: absolute;
width: 106px;
height: 24px;
left: 1005px;
top: 164px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Hdd 1tb */

position: absolute;
width: 76px;
height: 24px;
left: 1122px;
top: 164px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* Xbox Series X */

position: absolute;
width: 134px;
height: 24px;
left: 1209px;
top: 164px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #7F8592;



/* User Actions */

position: absolute;
width: 380px;
height: 98px;
left: 1849px;
top: 84px;



/* basket */

position: absolute;
width: 36px;
height: 35px;
left: 1849px;
top: 92px;

background: url(basket.png);


/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 112px;
height: 52px;
left: 1986px;
top: 84px;

border: 3px solid #00AA5B;
border-radius: 15px;


/* Masuk */

position: absolute;
width: 79px;
height: 29px;
left: 2002px;
top: 95px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #00AA5B;



/* Dikirim ke Jakarta Pusat */

position: absolute;
width: 232px;
height: 24px;
left: 1959px;
top: 158px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;



/* Line 1 */

position: absolute;
width: 52px;
height: 0px;
left: 1935px;
top: 84px;

border: 4px solid #E4E7EB;
transform: rotate(90deg);


/* Rectangle 3 */

position: absolute;
width: 112px;
height: 52px;
left: 2117px;
top: 84px;

background: #00AA5B;
border-radius: 15px;


/* Daftar */

position: absolute;
width: 74px;
height: 29px;
left: 2136px;
top: 95px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #FFFFFF;



/* Search Bar */

position: absolute;
width: 1264px;
height: 69px;
left: 518px;
top: 75px;



/* Cari di Tokopedia */

position: absolute;
width: 235px;
height: 34px;
left: 615px;
top: 93px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
/* identical to box height */

color: #7F8592;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
width: 1264px;
height: 69px;
left: 518px;
top: 75px;

border: 5px solid #E0E3E8;
border-radius: 10px;


/* Navigation Section */

position: absolute;
width: 116px;
height: 34px;
left: 349px;
top: 93px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
/* identical to box height */

color: #000000;



/* Logo */

position: absolute;
width: 236px;
height: 52px;
left: 52px;
top: 84px;

background: url(tokped.png);


/* pin */

position: absolute;
width: 25px;
height: 25px;
left: 1922px;
top: 157px;

background: url(pin.png);


/* search */

position: absolute;
width: 40px;
height: 40px;
left: 548px;
top: 90px;

background: url(search.png);


/* Chevron down */

position: absolute;
width: 20px;
height: 20px;
left: 2200px;
top: 160px;

background: url(Chevron down.png);
